body{
	background-color: #ecf1f7;
}

header{
	background-color: #ccdbec;
}


.card-img-top{
	padding: 10px;
}

#searchTerm{
	display: flex;
	justify-content: center;
	text-align: center;
}


